<section id="content">
  <div class="contains">
    <div class="row">
      <div class="col-lg-3">
        <%= render "tours/sidebar" %>
      </div>
      <div class="col-lg-9">
        <%= render "tours/tour" %>
      </div>
    </div>
  </div>
</section>
